@import "tailwindcss";

@theme {
  --color-purdue-gold: #CEB888;
  --color-purdue-aged: #C28E0E;
  --color-purdue-black: #000000;
  --color-purdue-dark: #121316;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
